@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,700&display=swap");

@layer base {
  h1,
  h2 {
    font-family: "Lora", serif;
  }
}

:root,
html {
  --neutral-900: #1c1810;
  --neutral-800: #2a261c;
  --neutral-700: #3a3527;
  --neutral-600: #504b38;
  --neutral-400: #5f5b45;
  --neutral-300: #736e55;
  --neutral-200: #bab696;
  --neutral-100: #f8f5de;

  --red: #e35142;
  --orange: #fba11b;
  --yellow: #f2ff27;
  --green: #5ceb5a;
  --blue: #5aebbc;
  --teal: #489bf0;
  --purple: #FF8080;
  --brown: #F69BE7;
}

html {
  font-family: "Inter", sans-serif;
}

html,
body,
#__next {
  min-height: 100%;
}

html {
  width: 100vw;
}

body,
#__next {
  width: 100%;
  overflow-x: hidden;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  scrollbar-gutter: stable;
  background-color: var(--background);
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision !important;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.005);
}

/* This is a hack that is supposed to help with flashing due to tailwind filter elements */
* {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

[data-theme='dark'] {
  --base: var(--neutral-900);
  --border: var(--neutral-700);
  --surface: var(--neutral-800);
  --primary: var(--neutral-100);
  --secondary: var(--neutral-200);
  --semi: rgba(255,255,255,0.1);
  --onMedia: var(--neutral-100);
}

[data-theme='light'] {
  --base: var(--neutral-900);
  --border: var(--neutral-700);
  --surface: var(--neutral-100);
  --primary: var(--neutral-900);
  --secondary: var(--neutral-800);
  --semi: rgba(0,0,0,0.1);
  --onMedia: var(--neutral-100);
}