@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,700&display=swap");

@layer base {
  h1,
  h2 {
    font-family: "Lora", serif;
  }
}

:root,
html {
  --neutral-900: #32302f;
  --neutral-800: #3c3836;
  --neutral-700: #504945;
  --neutral-600: #665c54;
  --neutral-400: #bdae93;
  --neutral-300: #d5c4a1;
  --neutral-200: #ebdbb2;
  --neutral-100: #fbf1c7;
  
  --dark-0: #1C2021;
  --dark-1: #282828;
  --dark-2: #3D3836;
  --dark-3: #514944;
  --dark-4: #685C53;
  --dark-5: #7F6E63;
  
  --light-0: #FDF1C2;
  --light-1: #EEDAAD;
  --light-2: #D9C39D;
  --light-3: #C0AD90;
  --light-4: #AB9881;
  --light-5: #958272;

  --red: #CC241D;
  --red-light: #FB4934;
  --orange: #E75300;
  --orange-light: #FF7700;
  --yellow: #E29600;
  --yellow-light: #FFBA00;
  --green: #98971A;
  --green-light: #B8BB26;
  --blue: #278789;
  --blue-light: #7AA697;
  --aqua: #569F65;
  --aqua-light: #7FC274;
  --purple: #BD5D87;
  --purple-light: #E0819B;
  --brown: #AB9881;
  --brown-light: #EEDAAD;
}

html {
  font-family: "Inter", sans-serif;
}

html,
body,
#__next {
  min-height: 100%;
}

html {
  width: 100vw;
}

body,
#__next {
  width: 100%;
  overflow-x: hidden;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  scrollbar-gutter: stable;
  background-color: var(--background);
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision !important;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.005);
}

/* This is a hack that is supposed to help with flashing due to tailwind filter elements */
* {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

[data-theme='dark'] {
  --base: var(--dark-0);
  --border: var(--dark-2);
  --surface: var(--dark-1);
  --primary: var(--light-0);
  --secondary: var(--light-2);
  --semi: rgba(255,255,255,0.1);
  --onMedia: var(--light-1);
}

[data-theme='light'] {
  --base: var(--light-0);
  --border: var(--light-2);
  --surface: var(--light-1);
  --primary: var(--dark-0);
  --secondary: var(--dark-2);
  --semi: rgba(0,0,0,0.1);
  --onMedia: var(--dark-1);
}